.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width: 910px) {
  .header__logo {
    margin-left: 30px;
    width: 103px;
    height: 24px;
    margin-bottom: 31px;
  }
}
